@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-gray-50 text-gray-800;
}

h2 {
  @apply text-3xl font-bold mb-4 text-center text-blue-900;
}

p {
  @apply text-gray-700 leading-relaxed;
}
ul.list-disc > li::marker,
ul.list-[square] > li::marker {
  color: #00a4d6;
}
